@use "src/styles/vars" as v;

.task {
  padding: v.$gutter * 2 v.$gutter * 3;
  background-color: v.$color-task;
  border: 1px solid v.$color-task-border;
  border-radius: 3px;
  margin-bottom: v.$gutter * 0.5;

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: relative;

  &--done {
    text-decoration: line-through;
    opacity: 0.5;
  }
  &--new::before {
    content: "nouveau";
    position: absolute;
    padding: v.$gutter * 0.5;
    top: 0;
    left: 0;
    font-style: italic;
    font-size: 0.9em;
    color: #bcbcbc;
  }

  &__text {
    display: flex;

    label {
      position: relative;
      strong {
        font-weight: bold;
      }
      em {
        font-style: italic;
      }
      h1 {
        font-size: 1.5em;
      }
      h2 {
        font-size: 1.3em;
      }
      blockquote {
        padding-left: 0.5em;
        &::before {
          content: "";
          display: block;
          position: absolute;
          width: 0.2em;
          height: 100%;
          background-color: #bcbcbc;
          left: 0;
          top: 0;
        }
      }
    }
  }

  &__checkbox {
    margin-right: v.$gutter;
  }

  &__btn-delete {
    border: none;
    color: rgb(201, 16, 16);
  }
}
