@use "src/styles/vars" as v;

$radius: 3px;

.form {
  margin-bottom: v.$gutter * 2;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  &__input {
    width: 100%;
    background-color: v.$color-input;
    border-radius: $radius;
    box-shadow: v.$color-shadow;
    padding: v.$gutter * 0.5;
    font-size: 2em;

    &:focus {
      box-shadow: v.$color-shadow-focus;
    }

    &::placeholder {
      color: v.$color-placeholder;
    }

    strong {
      font-weight: bold;
    }

    em {
      font-style: italic;
    }
  }

  &__button {
    width: 6rem;
    border: none;
    margin: v.$gutter 0;
    padding: v.$gutter * 0.5;
    font-size: 1.1em;
    border-radius: $radius;
  }
}